<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/ejs@3.1.3/ejs.min.js"></script>
    <script src="/public/javascripts/modal.js"></script>
    
</head>
<body>
    
    <div id="app">
        <div class="container">
            <div id="header">
                <div class="logo">
                    <p>Remind Auto</p>
                </div>
                <div class="text-heading">
                    <a href="/exit">Đăng xuất</a>
                </div>
            </div>
    
            <div id="main">
                <div id="sidebar">
                    <div class="info" id="">
                        <p class="title" id="username">Xin Chào,
                          <%= user %></p>
                          <div class="text-content">
                            <p>Số dư : </p> <p class="active">{{ data.coin }}</p></p>
                        </div>
                        <div class="text-content logout">
                            <a href="/exit">Đăng xuất</a>
                        </div>
                        <div class="text-content" v-if="data.level == 1">
                            <a href="/admin">Admin Panel</a>
                        </div>
                    </div>
    
                    <div class="charge-money">
                        <p class="title">Nạp tiền</p>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Logo_MB_new.png" alt="" class="bank">
                        <div class="text-content">
                            <p>Số tài khoản : </p> <p class="active">9704229216586789</p>
                        </div>
                        
                        <div class="text-content">
                            <p>Người nhận : </p> <p class="active">Đỗ Văn Sơn</p>
                        </div>
                        <div class="text-content">
                            <p>Nội dung : </p> <p class="active"><%= user %></p>
                        </div>
                        
    
                    </div>
                </div>
    
                <div id="content">
                    <div class="system" v-if="data.slot == 0">
                        <p class="title">Thống kê</p>
                        <div class="text-content">
                            <p>Bạn chưa mua gói tương tác nào, vui lòng mua ít nhất 1 gói tương tác để có thể bắt đầu sử dụng hệ thống</p>
                        </div>
                        <div class="text-content" v-if="data.coin < 50000">
                            <form action="/api/" method="POST">
                                <input type="text" name="slot" placeholder="Tài khoản của bạn không đủ 50.000đ" id="slot" class="text-box" style="pointer-events: none;">
                                <button type="submit" class="button" style=" pointer-events: none;">Không thể mua</button>
                            </form>
                        </div>
                        <div class="text-content" v-else>
                            <form action="/api/account/slot" method="POST">
                                <input type="number" name="slot" placeholder="Nhập số gói muốn mua" id="slot" min="1" :max="Math.trunc(data.coin/50000)" class="text-box">
                                <input type="text" name="username" id="username" placeholder="username" value="<%= user %>" class="text-box hide">
                                <input type="text" name="token" id="token" placeholder="token" value="<%= token %>" class="text-box hide">
                                <button type="submit" class="button" style="width: 40px;">Mua</button>
                            </form>
                        </div>
                    </div>
                    <div class="system" v-if="data.slot != 0">
                        <p class="title">Thống kê</p>

    
                        
                        <div class="text-content">
                            <p>Đã mua tổng cộng {{ settings1.length }} slot</p>
                        </div>
                        <p class="title">Danh sách tài khoản</p>
                        <div class="text-content account" v-for="(item, index) in settings1">
                            <p v-if="item.email == 'isNotActive'">Slot #{{ index }}. Tình trạng : Chưa thêm tài khoản</p>
                            
                            
                            <div v-else="">
                                <div class="text-content">
                                <p>Slot #{{ index }}. Tình trạng : Đã thêm tài khoản
                                    </p>
                                    
                                </div>


                                <div class="text-content">
                                    <p>Email : 
                                        {{ item.email }}
                                        </p>
                                        
                                </div>
                                <div class="text-content">
                                    <p>Ngày hết hạn
                                        {{ item.expiredate }}
                                        </p>
                                        
                                </div>
                                <div class="text-content">
                                    <p>Hôm nay đã tương tác </p> <p class="active"> {{ item.daily }} </p> <p> bài viết</p>
                                </div>
                                <div class="text-content">
                                    <p>Đã tương tác tổng cộng </p> <p class="active"> {{ item.total }} </p> <p> lượt</p>
                                </div>
                            </div>
                            <div class="text-content" v-if="item.email == 'isNotActive'"><button class="myBtn_multi button" :data-index="item.id" @click="modal(index, item)">Thêm tài khoản</button>
                                
                                

                            </div>
                            <div class="text-content" v-else>
                                <button class="btn button" style="display: inline-block; width: 40px;" @click="modal(index, item)">Sửa</button>
                                <button type="submit" class="button" style="width: 40px; display: inline-block;" @click="del(index, item)">Xoá</button>
                                <a v-bind:href="'/api/logs/'+item.email" class="button" style="width: 70px; display: inline-block; color: #fff; font-size: 13px;">Lịch sử</a>
                                
                            </div>

                                <div class="modal" :id="item.username + item.id">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <span class="close close_multi" @click="modalclose(index, item)">×</span>
                                        <p class="title">Tài khoản Facebook</p>
                                        <form action="/api/account/add" method="POST">
                                        <div class="text-list">Email hoặc số điện thoại</div>
                                        <input type="text" name="email" placeholder="Email hoặc số điện thoại" id="email" class="text-box" required>
                                        <div class="text-list">Mật khẩu</div>
                                        <input type="password" name="password" id="password" placeholder="Mật khẩu" class="text-box" required>
                                        <div class="text-list">Mã 2fa</div>
                                        <input type="text" name="key2fa" id="key2fa" placeholder="Mã 2fa" class="text-box" required>
                                        <div class="text-list">Thời gian nghỉ ( 60 )</div>
                                        <input type="text" name="delay" id="delay" placeholder="Thời gian nghỉ ( 60 )" :value="item.delay" class="text-box" required>
                                        <div class="text-list">Số lần tương tác mỗi ngày ( 500 )</div>
                                        <input type="text" name="limitdaily" id="limitdaily" :value="item.limitdaily" placeholder="Số lần tương tác mỗi ngày ( 500 )" class="text-box" required>
                                        <div class="text-list">Danh sách ID muốn tương tác, cách nhau bởi dấu |</div>
                                        <textarea v-if="item.vip == 1" name="listid" rows="10" cols="63" :value="item.listid" class="textarea" placeholder="Nhập danh sách ID muốn tương tác, mỗi ID cách nhau bởi dấu |. Ví dụ : 12345 | 54321 | 99999..." required>
                                        </textarea>
                                        <textarea v-if="item.vip == 0" name="listid" rows="10" cols="63" value="null" class="textarea hide">
                                        </textarea>
                                        <div class="text-list">Số bài viết muốn tương tác với mỗi ID</div>
                                        <input v-if="item.vip == 1" type="text" name="time" id="time" :value="item.time" placeholder="Số bài viết muốn tương tác" class="text-box" required>
                                        <div class="text-list">Nhập nội dung cmt, mỗi cmt cách nhau bởi dấu |</div>
                                        <textarea v-if="item.comment == 1" name="content" rows="10" cols="63" :value="item.content" class="textarea" placeholder="Nhập nội dung cmt, mỗi cmt cách nhau bởi dấu |. Ví dụ : Tương tác tốt | Sản phẩm tốt |Tương tác nhé..." required>
                                        </textarea>
                                        <textarea v-if="item.comment == 0" name="content" rows="10" cols="63" value="none" class="textarea hide">
                                        </textarea>
                                        <select name="id" id="id" class="text-box">
                                            
                                            <option :value="item.id">
                                                <p>Slot {{ index }} - {{ item.email }}</p>
                                            </option>
                                        </select>
                                        <input type="text" name="username" id="username" placeholder="username" value="<%= user %>" class="text-box hide">
                                        <input type="text" name="token" id="token" placeholder="token" value="<%= token %>" class="text-box hide">
                                        <button type="submit" class="button" style="width: 40px;">Lưu</button>
                                    </form>
                                    </div>

                            

                                </div>
                               
                        </div>
                        <div class="text-content">
                            <p class="title">Mua thêm slot</p>
                            <div class="text-content" v-if="data.coin < 50000">
                                <form action="/api/" method="POST">
                                    <input type="text" name="slot" placeholder="Tài khoản của bạn không đủ 50.000đ" id="slot" class="text-box" style="pointer-events: none;">
                                    <button type="submit" class="button" style=" pointer-events: none;">Không thể mua</button>
                                </form>
                            </div>
                            <div class="text-content" v-else>
                                <form action="/api/account/slot" method="POST">
                                    <input type="number" name="slot" placeholder="Nhập số gói muốn mua" id="slot" required min="1" :max="Math.trunc(data.coin/50000)" class="text-box">
                                    <input type="text" name="username" id="username" placeholder="username" value="<%= user %>" class="text-box hide">
                                    <input type="text" name="token" id="token" placeholder="token" value="<%= token %>" class="text-box hide">
                                    <br>
                                    <div class="text-content">
                                        <select name="vip" id="vip" class="text-box">
                                            <option value="0">Thường ( 50.000đ )</option>
                                            <option value="1">Tương tác ID ( 40.000đ )</option>
                                          </select>
                                    </div>
                                    <div class="text-content">
                                        <input type="checkbox" id="comment" name="comment" value="1">
                                        <label for="vehicle1"> Mua kèm gói CMT ( 20.000đ )</label><br>
                                    </div>
                                    <button type="submit" class="button">Mua</button>
                                </form>
                            </div>
                        </div>

                        
                    </div>
                    <div class="notication">
                        <p class="title">Thông báo</p>
                        <div class="text-content">
                            <p>Tham gia nhóm zalo</p> <p class="active"> Tại đây </p> 
                        </div>
        
                        <div class="text-content">
                            <p>Fanpage hỗ trợ khi gặp lỗi</p> <p class="active"> Tại đây </p> 
                        </div>
                        
                        <div class="text-content">
                            <p>Hệ thống đã hoạt động bình thường</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <script>

        var app = new Vue({
            el: '#app',
            data() {
                return {
                data: [],
                settings:[],
                settings1:[],
                logs:[],
                errors: []
                }
            },
    
            created() {
                    let token = ejs.render('<%= token %>');
                    let username = ejs.render('<%= user %>');
                    axios.post('/api/getcoin', {
                    username: username,
                    token: token,
                    })
                    .then(response => {
                        this.data = response.data.data[0]
                        })
                    .catch(function (error) {
                        console.log(error);
                    }),
                    axios.post('/api/settings', {
                    username: username,
                    token: token,
                    })
                    .then(response => {
                        this.settings = response.data.data[0]
                        this.settings1 = response.data.data
                        })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            methods: {
                    del(index, item){
                    axios.post('/api/account/delete', {
                    username: item.username,
                    token : item.token,
                    id : item.id,
                    })
                    .then(response => {
                        window.location="/";
                        })
                    .catch(function (error) {
                        console.log(error);
                    });
                    },
                    loadlogs(index, item){
                    axios.post('/api/logs/daily', {
                        email: item.email,
                    })
                    .then(response => {
                        this.logs = response.data.data
                        })
                    .catch(function (error) {
                        console.log(error);
                    });
                    },
                    modal(index, item){
                        var x = document.getElementById(item.username+item.id);
                        x.style.display = "block";
                    },
                    modalclose(index, item){
                        var x = document.getElementById(item.username+item.id);
                        x.style.display = "none";
                    },

                }
            
    })
    
    </script>
    
    
</body>

</html>